<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />
<div class="regis-big-div">
  <div class="left-login">
    <div class="pop-out">
      <a href="/"
        ><img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
          alt=""
          width="300"
      /></a>
    </div>
  </div>
  <form
    novalidate
    class="needs-validation"
    action="/register/stu"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="down-regis">
      <div class="resources-student-big-div">
        <div class="content-div regis-content-div">
          <div class="content-title container">
            <h2 style="text-align: center">Registration : Student</h2>
            <hr />
            <h2>Personal Details</h2>
            <br />

            <div class="input-fields">
              <div class="form-group">
                <label for="Enrollment">Enrollment No.</label>
                <input
                  type="text"
                  class="form-control"
                  id="Enrollment"
                  readonly
                  disabled
                  value="<%=enroll%>"
                  placeholder="Enrollment No."
                />
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  value="<%=username%>"
                  class="form-control"
                  id="username"
                  placeholder="username"
                  readonly
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="firstname">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                  disabled
                  readonly
                  value="<%=fullname%>"
                />
              </div>
              <div class="form-group">
                <label>Course</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  readonly
                  value="<%=course%>"
                />
              </div>

              <div class="form-group">
                <label for="fathername">Father's Name</label>
                <input
                  type="text"
                  name="fathername"
                  class="form-control"
                  id="fathername"
                  placeholder="Father's Name"
                  required
                  value="hehe"
                />
              </div>
              <div class="form-group">
                <label for="mothername">Mother's Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="mothername"
                  placeholder="Mother's Name"
                  required
                  name="mothername"
                  value="eehe"
                />
              </div>

              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">Gender</p>
                  <div class="card-text">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        value="female"
                        id="gender"
                        required
                      />
                      <label class="form-check-label" for="gender">
                        Female
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="male"
                        name="gender"
                        required
                        id="gender2"
                      />
                      <label class="form-check-label" for="gender2">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="other"
                        required
                        name="gender"
                        id="gender3"
                      />
                      <label class="form-check-label" for="gender3">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="birthdate">Birth Date (DD/MM/YYYY)</label>
                <input
                  type="date"
                  class="form-control"
                  id="birthdate"
                  name="birthdate"
                  required
                  placeholder="DD/MM/YYYY"
                  value="hehe"
                />
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">Marital Status</p>
                  <div class="card-text">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="married"
                        required
                        name="maritalstatus"
                        value="married"
                      />
                      <label class="form-check-label" for="married">
                        Married
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        required
                        type="radio"
                        id="unmarried"
                        value="unmarried"
                        name="maritalstatus"
                      />
                      <label class="form-check-label" for="unmarried">
                        Unmarried
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="separated"
                        value="separated"
                        required
                        name="maritalstatus"
                      />
                      <label class="form-check-label" for="separated">
                        Separated
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">
                    Are you a person with a disability?
                  </p>
                  <div class="card-text">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="yes"
                        name="disability"
                        id="disableyes"
                        required
                      />
                      <label class="form-check-label" for="disableyes">
                        YES
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        name="disability"
                        value="no"
                        required
                        type="radio"
                        id="disableno"
                      />
                      <label class="form-check-label" for="disableno">
                        NO
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mobno">Mobile Number</label>
                <input
                  type="tel"
                  class="form-control"
                  disabled
                  readonly
                  id="mobno"
                  name="mobileno"
                  placeholder="Mobile Number"
                  value="<%=mobno%>"
                />
              </div>
              <div class="form-group">
                <label for="altmob">Alternate Mobile No</label>
                <input
                  type="tel"
                  class="form-control"
                  id="altmob"
                  required
                  placeholder="Alternate Mobile No"
                  name="altmobileno"
                  value="1234554321"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  readonly
                  disabled
                  placeholder="Email"
                  value="<%=email%>"
                />
              </div>
              <div class="form-group">
                <label for="altemail">Alternate Email </label>
                <input
                  type="email"
                  class="form-control"
                  id="altemail"
                  placeholder="Alternate  Email "
                  required
                  name="altemail"
                  value="abccba@gmail.com"
                />
              </div>
              <div class="form-group">
                <label for="category">Category Name</label>
                <select
                  type="text"
                  required
                  class="form-control"
                  id="category"
                  name="category"
                  placeholder="Category Name"
                >
                  <option value="ST">ST</option>
                  <option value="SC">SC</option>
                  <option value="OBC">OBC</option>
                  <option value="EWS">EWS</option>
                  <option value="GENERAL">GENERAL</option>
                </select>
              </div>
              <div class="form-group">
                <label for="nationality">Nationality</label>
                <input
                  type="text"
                  class="form-control"
                  id="nationality"
                  required
                  name="nationality"
                  placeholder="Nationality"
                  value="india"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div">
          <div class="content-title container">
            <hr />
            <h2>Communication Details</h2>
            <br />
            <div class="comm-fields">
              <div class="input-fields">
                <div class="form-group">
                  <label for="presentcountry">Present Country</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    id="presentcountry"
                    name="presentcountry"
                    placeholder="Present Country"
                    value="hehe"
                  />
                </div>
                <div class="form-group">
                  <label for="presentstate">Present State</label>

                  <select
                    type="text"
                    value=""
                    name="presentstate"
                    required
                    id="presentstate"
                    class="form-control"
                    placeholder="Present State"
                  >
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">
                      Andaman and Nicobar Islands
                    </option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">
                      Dadar and Nagar Haveli
                    </option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="presentdistrict">Present District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="presentdistrict"
                    name="presentdistrict"
                    value="hehe"
                    required
                    placeholder="Present District"
                  />
                </div>
                <div class="form-group">
                  <label for="Landmark">Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Landmark"
                    name="landmark"
                    required
                    value="jeje"
                    placeholder="Landmark"
                  />
                </div>

                <div class="form-group">
                  <label for="presentaddress">Present Address</label>
                  <textarea
                    type="text"
                    value="hehe"
                    class="form-control"
                    id="presentaddress"
                    required
                    name="presentaddress"
                    placeholder="Present Address"
                  >
                  </textarea>
                </div>

                <div class="form-group">
                  <label for="Pincode">Pincode/Zipcode</label>
                  <input
                    type="number"
                    class="form-control"
                    value="123322"
                    id="Pincode"
                    required
                    name="pincode"
                    placeholder="Pincode"
                  />
                </div>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="addcheck"
                />
                <label class="form-check-label" for="addcheck">
                  Same As Present Address
                </label>
              </div>

              <div class="input-fields">
                <div class="form-group">
                  <label for="presentcountryp">Permanent Country</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    id="presentcountryp"
                    placeholder="Permanent Country"
                  />
                </div>
                <div class="form-group">
                  <label for="presentstatep">Permanent State</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    id="presentstatep"
                    placeholder="Permanent State"
                  />
                </div>
                <div class="form-group">
                  <label for="presentdistrictp">Permanent District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="presentdistrictp"
                    required
                    placeholder="Permanent District"
                  />
                </div>
                <div class="form-group">
                  <label for="Landmarkp">Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Landmarkp"
                    placeholder="Landmark"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="presentaddressp">Permanent Address</label>
                  <textarea
                    type="text"
                    class="form-control"
                    required
                    id="presentaddressp"
                    placeholder="Permanent Address"
                  ></textarea>
                </div>

                <div class="form-group">
                  <label for="Pincodep">Pincode/Zipcode</label>
                  <input
                    type="number"
                    class="form-control"
                    id="Pincodep"
                    placeholder="Pincode"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Education Details</h2>
            <br />
            <div class="comm-fields">
              <div class="input-fields">
                <div class="form-group">
                  <label for="10th">10th Result</label>
                  <input
                    type="number"
                    class="form-control"
                    required
                    id="10th"
                    name="tenth"
                    placeholder="Percentage"
                    value="12"
                  />
                </div>
                <div class="form-group">
                  <label for="10thupload">Upload 10th Marksheet</label>
                  <input
                    type="file"
                    class="form-control"
                    required
                    id="10thupload"
                    name="tenthmarksheet"
                  />
                </div>
                <div class="form-group">
                  <label for="12th">12th Result</label>
                  <input
                    type="number"
                    class="form-control"
                    id="12th"
                    name="twelth"
                    required
                    placeholder="Percentage"
                    value="12"
                  />
                </div>
                  <div class="form-group">
                  <label for="12thupload">Upload 12th Marksheet</label>
                  <input
                    type="file"
                    class="form-control"
                    required
                    id="12thupload"
                    name="twelthmarksheet"
                  />
                </div>
                <div class="form-group">
                  <label for="lastsemcgpa">Last Sem CGPA</label>
                  <input
                    type="number"
                    class="form-control"
                    id="lastsemcgpa"
                    name="lastsemcgpa"
                    placeholder="CGPA"
                    required
                    value="82"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Declaration</h2>
            <br />
            1. I hereby declare that all information provided in this
            registration form is true and accurate to the best of my knowledge,
            and I understand that any false information may result in the
            cancellation of my registration for the placement session 2024-25.
            <br />
            2. I have read, understood, and agree to abide by all the rules,
            policies, and guidelines set forth by the Placement Cell and
            participating companies for the duration of the placement session
            2024-25. <br />
            3. Furthermore, I authorize the Placement Cell to share my academic
            and personal information with potential employers for the purpose of
            recruitment during the placement session 2024-25. I acknowledge that
            the Placement Cell and participating companies have the right to
            conduct background checks, including but not limited to academic
            records and employment history, to verify the information provided
            in this registration form. <br />
            4. I understand that failure to comply with the rules and policies
            of the placement session may result in disciplinary action,
            including but not limited to disqualification from further
            participation in placement activities. <br />
            5. I acknowledge that the Placement Cell reserves the right to
            modify or update the rules and policies of the placement session,
            and it is my responsibility to stay informed about any changes
            communicated by the Placement Cell.

            <br /><br />
            <div class="form-check">
              <label class="form-check-label" for="flexCheckDefault">
                I Agree
              </label>
              <input
                class="form-check-input"
                required
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
            </div>
            <br />
            <div class="submit-btn">
              <button class="btn btn-lg btn-success">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  // JavaScript for form validation
  (function () {
    "use strict";
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>

<script>
  function copyPresentAddress() {
    var presentcountry = document.getElementById("presentcountry").value;
    var presentstate = document.getElementById("presentstate").value;
    var presentdistrict = document.getElementById("presentdistrict").value;
    var Landmark = document.getElementById("Landmark").value;
    var presentaddress = document.getElementById("presentaddress").value;
    var Pincode = document.getElementById("Pincode").value;
    document.getElementById("presentcountryp").value = presentcountry;
    document.getElementById("presentstatep").value = presentstate;
    document.getElementById("presentdistrictp").value = presentdistrict;
    document.getElementById("Landmarkp").value = Landmark;
    document.getElementById("presentaddressp").value = presentaddress;
    document.getElementById("Pincodep").value = Pincode;
  }
  document.getElementById("addcheck").addEventListener("change", function () {
    if (this.checked) {
      copyPresentAddress();
    } else {
      document.getElementById("presentcountryp").value = "";
      document.getElementById("presentstatep").value = "";
      document.getElementById("presentdistrictp").value = "";
      document.getElementById("Landmarkp").value = "";
      document.getElementById("presentaddressp").value = "";
      document.getElementById("Pincodep").value = "";
    }
  });
</script>
